.landing-page-wrapper {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  .select-wrapper {
    select {
      background-color: #0563af;
      color: white;
      padding: 12px;
      border: none;
      font-size: 20px;
      appearance: button;
      outline: none;
      option {
        padding: 30px;
      }
    }
    &::before {
      content: "\f13a";
      font-family: FontAwesome;
      position: absolute;
      top: 0;
      right: 0;
      width: 20%;
      height: 100%;
      text-align: center;
      font-size: 28px;
      line-height: 45px;
      color: rgba(255, 255, 255, 0.5);
    }
  }
}
